<div class="ui segment">
    <div class="ui middle aligned centered grid">
        <div class="four wide column">
            <a routerLinkActive="active" routerLink="/">
                <img class="ui small centered rounded image" src="/assets/images/companyYourLogo.png">
            </a>
        </div>
        <div class="six wide column">
            <div class="ui search">
                <app-search-input></app-search-input>
                <div class="results">

                </div>
            </div>
        </div>
        <div class="three wide column">
            <button class="big fluid basic ui button">
                <i class="icon user"></i>
                <span>Zaloguj się</span>
            </button>
        </div>
        <div class="three wide column">
            <button class="big fluid basic ui button">
                <i class="shopping cart icon"></i>
                <span>Koszyk</span>
            </button>
        </div>
    </div>
</div>