<form class="ui reply form" [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <app-text-area [control]="commentsForm.get('content')"></app-text-area>
    </div>
    <div *ngIf="commentSaved" class="ui green message">Komentarz został zapisany</div>
    <div *ngIf="commentSavedError" class="ui red message">Komentarz został zapisany</div>
    <button [disabled]="commentsForm.invalid" type="submit" class="ui blue labeled submit icon button">   
            <i class="icon edit"></i> Dodaj komentarz
    </button>
</form>

