<div class="field" [ngClass]="{'error': showErrors()}">
    <textarea class="input" [formControl]="control"></textarea>
    <ng-container *ngIf="showErrors()">
        <div class="ui small error message" *ngIf="control.errors.required">
            Pole musi mieć treść.
        </div>
        <div class="ui small error message" *ngIf="control.errors.minlength">
            Treść musi mieć co najmniej {{control.errors.minlength.requiredLength}} znaki.
        </div>
        <div class="ui small error message" *ngIf="control.errors.maxlength">
            Treść ma obecnie {{control.errors.maxlength.actualLength}} znaków, natomiast nie może mieć więcej niż 
            {{control.errors.maxlength.requiredLength}} znaków.
        </div>
    </ng-container>
</div>
