<div class="ui inverted fluid compact menu">
    <a class="item" (click)="redirectToMainPage()">
      <i class="ui home icon"></i>
    </a>
    <div class="ui simple dropdown item">
      Kategorie
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" *ngFor="let category of categories" 
                          routerLink="/kategoria/{{category.id}}">
                          {{category.name}}
                        </div>
      </div>
    </div>
    <a class="item" routerLinkActive="active" routerLink="/promocje">
      Promocje
    </a>
</div>

