<div class="ui segment">
    <h3 class="ui dividing header">
        Reset hasła
    </h3>
    <form class="narrow" style="border-radius: 25%;" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <div class="ui form error success register-form">
            <div style="text-align: center;">
                <i class="huge user circle icon"></i>
            </div>
            <h4 class="ui dividing header">Dane użytkownika</h4>
            <div class="field register-field">
                <app-input [control]="resetPasswordForm.get('email')" label="Email" placeholder="Wpisz adres email"></app-input>    
            </div>
            <div class="field register-field">
                <label class="label">Nowe Hasło</label>
                <input type="password" [formControl]="resetPasswordForm.get('password')" placeholder="Wpisz nowe hasło"/>
                <ng-container *ngIf="displayValidationError(resetPasswordForm.get('password'))">
                    <div class="ui small error message" *ngIf="resetPasswordForm.get('password').errors.required">
                        To pole nie może być puste
                    </div>
                    <div class="ui small error message" *ngIf="resetPasswordForm.get('password').errors.pattern">
                        Hasło musi zawierać co najmniej 8 znaków, w tym min. 1 dużą literę, jedną cyfrę i 1 znak specjalny
                    </div>    
                </ng-container>    
            </div>
            <div class="field register-field">
                <label class="label">Powtórz hasło</label>
                <input type="password" [formControl]="resetPasswordForm.get('confirmPassword')" placeholder="Powtórz hasło"/>
                <ng-container *ngIf="displayValidationError(resetPasswordForm.get('confirmPassword'))">
                    <div class="ui small error message" *ngIf="resetPasswordForm.get('confirmPassword').errors.required">
                        To pole nie może być puste
                    </div>
                    <div class="ui small error message" *ngIf="resetPasswordForm.get('confirmPassword').errors.pattern">
                        Hasło musi zawierać co najmniej 8 znaków, w tym min. 1 dużą literę, jedną cyfrę i 1 znak specjalny
                    </div>    
                </ng-container>
                <div class="ui small error message" 
                        *ngIf="resetPasswordForm.errors?.passwordsNonMatching && passwordTouched(resetPasswordForm.get('password')) && passwordTouched(resetPasswordForm.get('confirmPassword'))">
                    Podane hasła różnią się od siebie
                </div>    
            </div>
            <div class="ui small error message" 
                    *ngIf="isResetPasswordFailed && !isEmailAbsent()">
                Wystąpił błąd przy próbie resetu hasła - spróbuj ponownie
            </div>
            <div class="ui small error message" 
                    *ngIf="isResetPasswordFailed && isEmailAbsent()">
                Podany email nie istnieje w bazie danych
            </div>
            <div style="text-align: center;">
                <button class="positive ui submit formButton button" [disabled]="resetPasswordForm.invalid" type="submit">Zmień hasło</button>
                <button class="ui formButton button" type="button" (click)="onResetForm()">Anuluj</button>
            </div>
            <div class="user-link-area">
                <a routerLink="/login">Masz już konto - zaloguj się</a>
            </div>
            <div class="user-link-area">
                <a routerLink="/rejestracja">Zarejestruj się do serwisu</a>
            </div>
        </div>
    </form>
</div>
