.ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
    margin: 0;
}

.transparent {
    background-color: white !important;
}

.custom-imageUrl {
    width: 70px; margin: 2px; 
    margin-left: 10px;
}

.custom-bookLink {
    color: black;
}