<div class="ui segment">
  <app-not-allowed *ngIf="!isAdmin"></app-not-allowed>
  <h3 class="ui dividing header" *ngIf="isAdmin">
    Panel Administratora
  </h3>
  <div class="ui placeholder segment" style="margin-top: 5em;" *ngIf="isAdmin">
    <div class="ui three column stackable center aligned grid">
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <i class="book icon"></i>
            Dodaj książkę
          </div>
          <div class="field">
            <div class="ui primary button" routerLink="/admin/dodajKsiazke">
              Dodaj
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="list alternate icon"></i>
            Lista książek
          </div>
          <div class="ui primary button" routerLink="/admin/listaKsiazek">
            Sprawdź
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="users icon"></i>
            Lista użytkowników
          </div>
          <div class="ui primary button">
            Sprawdź
          </div>
        </div>
      </div>
    </div>
  </div>
</div>