@media only screen and (min-width: 1000px) {
    .concentrated {
        margin-left: 10em;
        margin-right: 10em;
    }
}

.available {
    background-color: mediumspringgreen;
}

.warehouse {
    background-color: moccasin;
}

.unavailable {
    background-color: salmon;
}

.categoriesItem {
    padding-bottom: 0.5em;
}

