/* You can add global styles to this file, and also import other style files */
@import 'semantic-ui-css/semantic.css';

body {
    background-color: lightgray;
}

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.ui.segment {
    border:none;
    box-shadow: none;
}

@media only screen and (min-width: 1000px) {
    .concentrated {
        margin-left: 10em;
        margin-right: 10em;
    }
}

i.massive.icon, i.massive.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 16em;
}

.not-found-info {
    text-align: center; 
    margin-top: 1em;
}

@media only screen and (min-width: 1000px) {
    .narrow {
        margin-left: 15em;
        margin-right: 15em;
        margin-top: 2em;
    }

    .formButton {
        margin: 10px 5px 10px 5px;
    }
}

@media only screen and (min-width: 1000px) {
    .register-field {
        margin-left: 1rem !important; 
        margin-right: 1rem !important;
    }
}

.register-form {
    background-color: #DCF8F4; 
    padding: 1rem;
    border-radius: 4%;
}

.user-link-area {
    text-align: center; 
    margin-top: 0.5em;
}

.login-segment {
    padding-top: 0.1em !important; 
    padding-bottom: 2.1em !important;
}

.transparent {
    background-color: white !important;
}