/* You can add global styles to this file, and also import other style files */
@import 'semantic-ui-css/semantic.css';

body {
    background-color: lightgray;
}

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.ui.segment {
    border:none;
    box-shadow: none;
}

@media only screen and (min-width: 1000px) {
    .concentrated {
        margin-left: 10em;
        margin-right: 10em;
    }
}

