<div class="ui segment">
    <div style="margin-bottom: 1.5rem;">
        <h3 class="ui dividing header" *ngIf="searchMode">
            Wynik wyszukiwania dla frazy: {{keyword}}
        </h3>
        <h3 class="ui dividing header" *ngIf="categoryMode">
            Ksiażki z kategorii: {{categoryName}}
        </h3>
        <h3 class="ui dividing header" *ngIf="authorMode">
            Ksiażki autora: {{authorFirstName}} {{authorLastName}}
        </h3>
        <h3 class="ui dividing header" *ngIf="!searchMode && !categoryName && !authorMode">
            Ostatnio dodane książki
        </h3>
        <label style="margin-right: 1em;">Liczba wyników:</label>
        <select (change)="updatePageSize($event.target.value)">
            <option [selected]="this.pageSize===12">12</option>
            <option [selected]="this.pageSize===24">24</option>
            <option [selected]="this.pageSize===48">48</option>
            <option [selected]="this.pageSize===72">72</option>
        </select>
    </div>
    <div class="ui stackable six cards">
        <ng-container>
            <app-card class="ui fluid card" *ngFor="let book of books" [book]="book"></app-card>           
        </ng-container>
    </div>
    <div style="margin-top: 1em;" *ngIf="totalPages>1">
        <ngb-pagination class="d-flex justify-content-center"
                        [(page)]="pageNumber"
                        [pageSize]="pageSize"
                        [collectionSize]="totalElements"
                        (pageChange)="changePage()"
                        [rotate]="true" 
                        [ellipses]="false" 
                        [boundaryLinks]="true"
                        >
        </ngb-pagination>
    </div>
</div>